@inherits LayoutComponentBase

<div class="container-fluid bg-dark text-light">
	<Top />

    <NavMenu />

    <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        <Authorized>
            <div>
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="text-start me-3">
                Welcome, Guest!
            </div>
		</NotAuthorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>

    <Bottom />

</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
