<div style="height: 200px" class="text-center">
	<img src="@path" alt="@alt" width="100%" height="200" />
</div>
@code {
	string path = "Images/banner.jpg";
	string alt = "The Remains Of A Freakshow";
}
